/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-weight: thin;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
.hlavicka{
  margin: 0; /* odstranění automatického margin pro UL */
}
.hlavicka li{
  display: inline-block;
  padding: 10px 30px 10px 30px; 
  font-size: 0.8em;
}
.hlavicka_super_appka{
  font-weight: bold;
  text-transform: uppercase;
}
/*------------------*/
.super_appka{
  background-image: url(images/pozadi.jpg);
  background-size: cover;
  color: white;
  
  display: flex;
  padding:0;
  margin: 0;
}

.super_appka_sloupec1{
  padding-left: 25px;
}
.super_appka_nadpis{
  font-size: 4em;
}
.super_appka_popis{
  font-size: 1.8em;
  width: 70%;
  padding-bottom: 50px;
}
.super_appka a{
  color: whitesmoke;
  text-decoration: none;
  padding: 0.8em 1em;
  border: 1px solid white;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.super_appka a:hover,
.super_appka a:focus {
  background-color:#48418e;
}

.super_appka_sloupec2{
  align-self: flex-end;
}
.super_appka_img{
  align-content: right;
  padding-top: 20px;
  display: block; /* defaultní nastavení je inline-block, kde je dole "účaří". takto nebude pod obrázkem úzká škvíra */
}

/*------------------*/
.nabidka{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.nabidka_sloupce{
  padding: 20px;
}
.nabidka_sloupce h2{
  font-size: 1em;
  color: #20489e;  
}
.nabidka_sloupce p{
  font-size: 0.8em;
  padding: 10px;
}
.nabidka img{
  width: 50px;
}

/*------------------*/
footer{
  background-color:#48418e;
  color: white;
  text-align: center;
  font-size: 0.6em;
  padding: 1em;
}
